<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Benji's Cinema</h1>
<img src="{{ movies.Image }}" style="width: 100% !important;" alt="">
<a href='/movies/new'>Add to Cart</a>
<div class='row'>
        {% for movie in movies %}
            <div class='col-md-3'>
                <h2><a href='/movies/{{ movie._id }}'>{{ movie.title }}</a></h2>
                <small>{{ movie.description }}</small>
            </div>
        {% endfor %}
    </div>
{% endblock %}